.tabelas-lista {
    padding: 50px;
}

.btn {
    border-radius: 50px;
}

.icone-busca {
    background-color: #f3f4f6 !important;
}

.search-input {
    border-radius: 50px !important;
}

.btn-icon {
    border-radius: 50px;
    border: 0px solid;
    margin-left: 5px;
}

.btn-info {
    color: #fff !important;
}

.btn-danger {
    color: #fff !important;
}

.btn-success {
    color: #fff !important;
}

.star-ico {
    color: rgb(255, 166, 0)
}

.ico-logo {
    font-size: 30px;
    color: #6875f5;
}

.max-imagem {
    max-height: 80px;
}